<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>jspAction12</display-name>
    <servlet-name>jspAction12</servlet-name>
    <servlet-class>com.demo.jspAction12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jspAction12</servlet-name>
    <url-pattern>/jspAction12</url-pattern>
  </servlet-mapping>
  <display-name>prc3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>demoa1</display-name>
    <servlet-name>demoa1</servlet-name>
    <servlet-class>com.demo.demoa1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demoa1</servlet-name>
    <url-pattern>/demoa1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>demo2</display-name>
    <servlet-name>demo2</servlet-name>
    <servlet-class>com.demo.demo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo2</servlet-name>
    <url-pattern>/demo2</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>max_shop</param-name>
    <param-value>10</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>MVCDemoAction</display-name>
    <servlet-name>MVCDemoAction</servlet-name>
    <servlet-class>mvctwo.MVCDemoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVCDemoAction</servlet-name>
    <url-pattern>/MVCDemoAction</url-pattern>
  </servlet-mapping>
</web-app> 